body {
  margin: 0;
  font-family: cursive, system-ui, sans-serif;
  color: saddlebrown;
  background-color: peachpuff;
}

.center-text {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Tahoma, sans-serif;
}

h5 {
  font-weight: bold;
  font-size: 0.9rem;
  font-family: Tahoma, sans-serif;
}
